[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = mina26b8@gmail.com
	name = minaboktor2628
[init]
	defaultBranch = main
[core]
    editor = vim
